body{
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:2px solid black; */
    overflow: hidden;
}
.container{
    min-height:50vh;
    min-width:50vh;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    /* justify-content: center; */
    box-shadow: 0 0 30px gray ;
    border-radius: 20px;
    padding-top:30px;
    transition: all 0.3s ease-in-out;
    background: white;

}
.username{
    height:35px;
    width:80%;
    font-size: 15px;
    border-radius: 10px;
}

.password{
    height:35px;
    width:80%;
    font-size: 15px;
    border-radius: 10px;
}
.submit{
    height:40px;
    width:80%;
    border:2px solid cornflowerblue;
    background-color: cornflowerblue;
    color:white;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}
.submit:hover{
    background-color: white;
    color:cornflowerblue;
    height:42px;
    width:85%;
    border:2px solid cornflowerblue;
}
img{
    height:100px;
    width:100px;
}
.para{
    margin-top:0px;
}